@media only screen and (max-width: 650px){

    h1,h2,h3,h4,h5,h6,a,p{
        line-height: 1.3;
    }

    h1{
        font-size: 2.4rem;
        font-weight: bold;
    }

    h3{
        font-size: 1.6rem;
        font-weight: bold;
    }

    .mobile nav{
        padding: 0 1.5rem;
    }

    .mobile nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    .mobile nav ul li{
        height: 2rem;
        width: 2rem;
    }

    .mobile nav ul img{
        display: block;
        width: 100%;
        height: 100%;
    }

    .image-container img{
        display: block;
        width: 100%;
        height: auto;
    }

    .main-header{
        padding: 2rem 1rem;
    }

    .main-info-container{
        padding: 0 1rem 1.5rem;
    }

    .article{
        padding: 1rem 1rem 2rem;
    }

    .content{
        padding: 1rem;
    }

    .content p,a{
        font-size: 1.2rem;
    }

    .content h3,p{
        padding-bottom: .5rem;
    }

    .button{
        display: block;
        padding: .5rem 0;
        background-color: black;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
    }

     a.button{
        font-size: 1.4rem;
        color: white;
    }
}